.info_div{
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/436/228/997/movies-mad-max-the-dark-knight-interstellar-movie-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 92.4vh;
    align-items: center;
}
.feed_back{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more_details{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 6px;
    background-color: rgb(46 43 52 / 60%);
    color: #b1cfff;
    border-radius: 35px;
    width: clamp(360px, 7vw, 700px);
    border: 2px solid grey;
    font-family: 'Kalam cursive';
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
.text_part{
    color:white;
    font-weight: 900;
}