.ul_part {
    display: flex;
    flex-direction: row;
    gap: 40px
}

.header_part {
    position: sticky;
    top: 0;
    z-index: 99;
}

@media (max-width: 425px) {
    .ul_part {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: auto;
    }
}