.add_main {
    display: flex;
    gap: 13px;
    justify-content: space-evenly;
    padding: 40px;
    background-color: rgba(120, 94, 94, 0.62);
    color: white;
    text-align: center;
    align-items: baseline;
    font-family: 'Allan';
    font-size: 22px;


}

.add_first {
    padding: 9px 10px;
}

.back_film {
    background-image: url("https://img5.goodfon.com/wallpaper/nbig/c/af/sssssss-aaaaaaaaaaa-ddddddddd-fffffffff-rrrrrrr.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 92.4vh;
    width: clamp(100%, 7vw, 400px);


}

.add_btn {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Gruppo';
    font-size: 22px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.add_btn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.add_btn:hover:after {
    transform: translate(0, 0);
}

.add_btn:active {
    background-color: #ffdeda;
    outline: 0;
}

.add_btn:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .add_btn {
        padding: 0 40px;
    }
}

.btn_div {
    background-color: rgba(120, 94, 94, 0.62);
    height: 36.5vh;
    display: flex;
    justify-content: space-evenly;
    width: clamp(100%, 7vw, 400px);
}
@media(max-width: 640px){
    .add_main{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .back_film{
        height: 100%;
    }
    .add_first{
        width: 14rem;
    }
    .add_second{
        width: 14rem;
    }
}
.add_second{
    padding: 9px 10px;
}